.headerContent {
  position: relative;
  overflow: hidden;
  background-image: url(../../assets/img/office-dark.jpg);
  background-size: cover;
  background-position: 50%;

  .container {
    z-index: 1;
  }
}