.headerContent {
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  background-image: url(../../assets/img/office-dark.jpg);
  background-size: cover;
  background-position: 50%;
  min-height: 65vh !important;

  .mask {
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  .opacity-8 {
    opacity: 0.8 !important;
  }

  .header-container {
    z-index: 1;
  }

  .wave-index {
    z-index: 1;
  }
  .waves {
    position: relative;
    width: 100%;
    height: 14vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
  }
  .waves.no-animation .moving-waves > use {
    -webkit-animation: none;
    animation: none;
  }
  .wave-rotate {
    transform: rotate(180deg);
  }
  .moving-waves > use {
    -webkit-animation: move-forever 40s cubic-bezier(0.55, 0.5, 0.45, 0.5)
      infinite;
    animation: move-forever 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }

  .moving-waves > use:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 11s;
    animation-duration: 11s;
  }

  .moving-waves > use:nth-child(2) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
  }

  .moving-waves > use:nth-child(3) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
  }

  .moving-waves > use:nth-child(4) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
  }

  .moving-waves > use:nth-child(5) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
  }

  .moving-waves > use:nth-child(6) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
  }

  @-webkit-keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  .btn {
    font-weight: 700;
    color: #67748e;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in;
    &:hover {
      transform: scale(1.03);
      filter: brightness(0.8);
      color: #67748e;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.09),
        0 2px 3px -1px rgba(0, 0, 0, 0.07);
    }
  }
}
